{{include "layouts/master"}}

{{define "content"}}
<div class="container">
    <h1 class="title has-text-centered mt-4">Nos offres du moment</h1>

    <div class="columns is-vcentered mt-4">
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <img src="https://cdn.pixabay.com/photo/2022/01/16/17/24/wordpress-6942722_1280.png"
                        alt="Logo wordpress" width="150">
                </div>
                <h2 class="subtitle has-text-centered has-text-weight-bold">Wordpress</h2>
                <div class="content">
                    <ul>
                        <li>La performance à un prix compétitif</li>
                        <li>Un VPS personnalisable et évolutif, compatible avec WordPress</li>
                        <li>Jusqu’à 2 Gbit/s de bande passante et trafic illimité</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <img src="https://cdn-icons-png.flaticon.com/512/518/518713.png" alt="Logo wordpress" width="150">
                </div>
                <h2 class="subtitle has-text-centered has-text-weight-bold">Fast Linux</h2>
                <div class="content">
                    <ul>
                        <li>Hautement performants</li>
                        <li>Évoluent en même temps que vos besoins</li>
                        <li>Nombreuses distributions pour VPS Linux</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class="has-text-centered">
                    <img src="https://i.imgur.com/ccD6Iyz.gif" alt="Logo wordpress" width="150">
                </div>
                <h2 class="subtitle has-text-centered has-text-weight-bold">VPS sur-mesure</h2>
                <div class="content">
                    <ul>
                        <li>Choisissez votre OS</li>
                        <li>Nous mettons en place les logiciels que vous souhaitez</li>
                        <li>Partez confiant avec une stabilité irréprochable</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{{end}}